.contactus-parent {
    position: relative;
    height: auto;
    width: 100%;
    gap: 2rem;
}

.support-page-container-contact {
    width: 100%;
    height: 60vh;
    background-color: #1A9FB2;
    color: white;
    text-align: center;
    font-size: 2rem;

}

.contect-page-container-child {
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contect-page-container-child span {
    margin-right: 0.5rem;
    margin-bottom: 5px;
}

/* midle section css */
.centerDiv{
    width: 60%;
    margin: auto;
    position: relative;
    top: -100px;
    padding: 10px;
}

.center-div-child{
    margin-top: 1rem;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
    gap:2rem;
}

.center-image{
    width: 40%;
    height: auto;
    text-align: center;
}

.center-image img{
    max-width: 250px;
    max-height: 300px;
    
}

.contact-us-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    padding-bottom: 10px;
    position: absolute;
    top: 250px;
    left: 270px;
}

.contact-us-container1 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
    padding: 20px;
    margin-top: 17rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    padding-bottom: 10px;

}


.contact-us-container>div>img {

    width: 200px;
    height: 300px;
    max-width: 300px;
    background-image: cover;
    height: auto;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
        max-width: 100%;
        max-height: 100%;
        padding: 20px;
        text-align: center;

    }
}


.contact-us-container1>div>img {

    max-width: 200px;
    max-height: 300px;
    max-width: 300px;
    height: auto;
    margin-right: 130px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    @media screen and (max-width: 768px) {
        max-width: 100%;
        max-height: 100%;
        padding: 20px;
        text-align: center;
        margin-left: 70px;
    }
}



.contact-us-container2 {
    width: 100%;
    height: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url("/ContactUs/bottom.png");
    background-size: cover;
    mix-blend-mode: multiply;
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: 500;
    color: white;
    margin-top: 50px;


    @media screen and (max-width: 768px) {
        padding: 1rem 2rem;

    }
}




@media screen and (max-width: 768px) {
    .contact-us-container {

        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 320px;
        left: 20px;
        height: auto;

        grid-template-columns: repeat(1, 1fr);
    }

    .contact-us-container1 {

        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        justify-content: center;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30rem;
    }

    .contect-page-container-child {
        padding: 20px;
    }

    .contect-page-container-child span {
        margin-bottom: 13px;
        font-size: 20px;
    }

    .contect-page-container-child-responsive {
        padding: 15px;
    }

    .contact-us-container2 {
        margin-top: 50px;
    }

    .contact-us-container div {
        width: auto;
    }


    .contact-us-container1 div {
        width: auto;
    }

    .contact-us-container1>div>img {
        margin-left: 80px;
    }
/* new center div */
.centerDiv{
    width: 90%;
    margin: auto;
    position: relative;
    top: 0px;
    padding: 10px;
}

.center-div-child{
    margin-top: 2rem;
    display: block;
}

.center-image{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 1.5rem;
}

.center-image img{
    max-width: 90%;
    max-height: auto;
    
}

}